<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ username }}'s chat</title>
</head>
<body>
  <h1>NoBackdoorMessaging</h1>
  <h4>Signed in as {{ username }}</h4>

  <h3 class="error">
    {% if error %}
            {{ error }}
    {% endif %}
    </h3>

  <form method="POST" action="/send">
    <input type="text" name="to" placeholder="Username to message" required>
    <input type="text" name="message" placeholder="Your message" required>
    <button type="submit">Send</button>
  </form>

  <a href="/collect"><button>See Messages</button></a>

      <p>
        {% if messages %}
      <ul>
        {% for message in messages %}
          <li><strong>{{ message[0] }}:</strong> {{ message[1] }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No messages yet.</p>
    {% endif %}

      </p>


</body>
</html>
